.footer {
  width: 100%;
  box-sizing: border-box;
  margin: 30px auto 0;
  padding: 20px;
  border-top: 1px solid #e1e1e1;
  footer {
    display: flex;
    justify-content: space-between;
    width: 74%;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    a {
      margin-left: 10px;
    }
  }
}

