.nav_map {
  max-width: 1000px;
  margin: 0 auto 4.5rem;
  width: 90vw;
  h1 {
    margin: 5px 0 25px 0;
    font-size: 26px;
    color: #695a5a;
    &:before {
      content: '#';
      margin-right: 5px;
    }
  }
  .tag_list {
    padding-top: 40px;
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      li {
        font-size: 10pt;
        margin: 2px 5px 5px 0;
        padding: 5px 10px;
        text-transform: uppercase;
        color: #666;
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        background-color: #f2f2f2;
        cursor: pointer;
      }
    }
  }
  .blog_list {
    margin-top: 15px;
    .date-year {
      margin: 15px 0;
      font-size: 26px;
    }
    .archives-ul {
      margin: 15px 0;
      li {
        margin: 20px 0;
        font-size: 16px;
        span {
          margin-right: 20px;
        }
      }
    }
  }
}
