.insertArticle {
  width: 78%;
  max-width: 1170px;
  margin: 30px auto 0 auto;


  .el-row {
    margin: 10px 0;
    .title {
      margin-right: 20px;
      transform: translateY(50%);
    }
    .input {
      display: inline-block;
    }
  }
}
