.about {
  .description {
    h1 {
      font-size: 22px;
    }
    .description-content {
      p {
        margin: 20px 0;
        img {
          width: 100%;
        }
      }
      h2 {
        font-size: 19px;
      }
      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        border-radius: 3px;
        margin: 20px 0;
        .about-code {
          font-size: 13px;
          line-height: 20px;
          display: block;
          overflow: auto;
          border: 0;
          margin: 0;
          padding: 10px;
          color: #313131;
          background-color: #f7f7f7;
          border-radius: 3px;
          font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        }
      }
    }
  }
}


