.link {
  border: 1px solid #eee;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  b {
    color: #000;
    cursor: pointer;
  }
}
.content {
  position: relative;
  display: flex;
  width: 78%;
  max-width: 1170px;
  margin: 30px auto 0 auto;
  .content_left {
    width: 74%;
    padding: 0 20px 0 0;
    box-sizing: border-box;
  }

  .content_right {
    width: 24%;
    padding: 0 0 0 0;
    .right-module {
      display: inline-block;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      h3 {
        letter-spacing: 1px;
        padding-bottom: 5px;
        font-weight: 300;
        border-bottom: 1px solid #ddd;
        font-size: 17px;
      }
      & > p {
        margin: 20px 0;
        display: inline-block;
        word-wrap: break-word;
        width: 100%;
        a {
          margin-right: 10px;
        }
      }
      & > ul {
        padding: 20px 0;
        & > li{
          color: white;
          padding: 8px 0;
          a {
            font-size: 14px;
          }
          & > div {
            padding: 5px 0;
            span {
              color: #777;
              font-size: 14px;
              &.pull_right {
                position: absolute;
                right: 15px;
              }
            }
            p {
              font-size: 14px;
              color: #777;
            }
          }
        }
      }
      & > span {
        display: inline-block;
        a {
          border: 1px solid #d9d9d9;
          padding: 0 10px 0 10px;
          color: #777;
          white-space: nowrap;
          margin: 5px 10px 5px 0;
          font-size: 12px;
          line-height: 30px;
        }
      }
    }
  }
  .el-pagination {
    text-align: center;
  }
}

.ql-snow {
  .ql-picker-label::before,
  .ql-color-picker .ql-picker-label svg,
  .ql-icon-picker .ql-picker-label svg{
    position: absolute;
  }
}
@media screen and (max-width: 960px) {
  .content_left {
    width: 100% !important;
  }
  .content_right {
    display: none !important;
  }
  #container {
    .menu {
      display: none;
    }
    .media-nav {
      display: block;
    }
  }
  #nav-btn-active {
    display: flex;
  }
  #footer {
    footer {
      justify-content: space-around;
    }
    .footer-right {
      display: none;
    }
  }
}
