.link {
  border: 1px solid #eee;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  b {
    color: #000;
    cursor: pointer;
  }
}
.content {
  position: relative;
  display: flex;
  width: 90%;
  max-width: 1170px;
  margin: 30px auto 0 auto;
  .content_left {
    flex: 1;
    padding: 0 20px 0 0;
    box-sizing: border-box;
  }

  .content_right {
    width: 34%;
    padding: 0 0 0 0;
    .right-module {
      display: inline-block;
      width: 100%;
      background-color: #1f1f1f;
      color: white;
      border-radius: 10px;
      text-align: left;
      padding: 0 15px 25px 15px;
      margin-bottom: 20px;
      div {
        display: block;
        text-align: left;
        font-size: 14px;
        padding: 15px 5px 15px 0;
        color: dodgerblue;
      }
      & > a {
        display: inline-block;
        color: dodgerblue;
        margin-right: 5px;
        font-size: 14px;
      }
      & > ul > li{
        color: white;
        padding: 8px 0;
        border-bottom: 1px solid gray;
        a {
          font-size: 14px;
          color: white;
        }
        & > div {
          padding: 5px 0;
          span {
            color: #fff;
            font-size: 14px;
            &.pull_right {
              position: absolute;
              right: 15px;
            }
          }
          p {
            font-size: 14px;
            color: #777;
          }
        }
      }
      & > span {
        display: inline-block;
        width: 50%;
        height: 30px;
        margin-top: 10px;
        a {
          color: #fff;
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
  }
}

.ql-snow {
  .ql-picker-label::before,
  .ql-color-picker .ql-picker-label svg,
  .ql-icon-picker .ql-picker-label svg{
    position: absolute;
  }
}
