.description {
  background-color: white;
  width: 90%;
  border-radius: 5px;
  padding: 30px 15px;
  box-shadow: 3px 4px 3px #888;
  text-align: left;
  p {
    margin-top: 15px;
    padding: 0 0 0 10px;
    font-size: 14px;
  }
}
