.content {
  .content_left {
    .every_day {
      width: 100%;
      padding: 10px 15px;
      background-color: white;
      text-align: left;
      border-radius: 5px;
      box-shadow: 3px 4px 3px #888;
      box-sizing: border-box;
      &>span {
        display: block;
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 5px;
      }
      .ql-align-right {
        padding: 0;
      }
    }
    .article_list {
      width: 100%;
      border-top: 1px solid #E1E1E1;
      padding: 40px 0;
      box-sizing: border-box;
      .article {
        background: white;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-align: left;
        .article_title {
          display: inline-block;
          font-size: 1.3em;
          font-weight: 400;
          margin-bottom: 10px;
          color: inherit;
          &:hover {
            color: #337ab7;
          }
        }

        .article_content {
          font-size: 14px;
          margin-top: 10px;
          //text-align: left;
          //word-wrap: break-word;
          //word-break: break-all;
          //overflow: hidden;
          //box-sizing: border-box;
        }

        .article_foot {
          color: #657786;
          font-size: 13px;
        }
      }
    }
  }
}

